<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Image url:</b>
  <%= @user.image_url %>
</p>

<p>
  <b>Sexuality:</b>
  <%= @user.sexuality %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>Occupation:</b>
  <%= @user.occupation %>
</p>

<p>
  <b>Blurb:</b>
  <%= @user.blurb %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
